In [38]:
import pandas as pd
import numpy as np
from datetime import datetime

In [39]:
accounts = pd.read_csv("archive/ravenstack_accounts.csv")
subscriptions = pd.read_csv("archive/ravenstack_subscriptions.csv")
feature_usage = pd.read_csv("archive/ravenstack_feature_usage.csv")
support_tickets = pd.read_csv("archive/ravenstack_support_tickets.csv")
churn_events = pd.read_csv("archive/ravenstack_churn_events.csv")

In [40]:
accounts.head()

,account_id,account_name,industry,country,signup_date,referral_source,plan_tier,seats,is_trial,churn_flag
0,A-2e4581,Company_0,EdTech,US,2024-10-16,partner,Basic,9,False,False
1,A-43a9e3,Company_1,FinTech,IN,2023-08-17,other,Basic,18,False,True
2,A-0a282f,Company_2,DevTools,US,2024-08-27,organic,Basic,1,False,False
3,A-1f0ac7,Company_3,HealthTech,UK,2023-08-27,other,Basic,24,True,False
4,A-ce550d,Company_4,HealthTech,US,2024-10-27,event,Enterprise,35,False,True

In [41]:
subscriptions.head()

,subscription_id,account_id,start_date,end_date,plan_tier,seats,mrr_amount,arr_amount,is_trial,upgrade_flag,downgrade_flag,churn_flag,billing_frequency,auto_renew_flag
0,S-8cec59,A-3c1a3f,2023-12-23,2024-04-12,Enterprise,14,2786,33432,False,False,False,True,monthly,True
1,S-0f6f44,A-9b9fe9,2024-06-11,NaN,Pro,17,833,9996,False,False,False,False,monthly,True
2,S-51c0d1,A-659280,2024-11-25,NaN,Enterprise,62,0,0,True,True,False,False,annual,False
3,S-f81687,A-e7a1e2,2024-11-23,2024-12-13,Enterprise,5,995,11940,False,False,False,True,monthly,True
4,S-cff5a2,A-ba6516,2024-01-10,NaN,Enterprise,27,5373,64476,False,False,False,False,monthly,True

In [42]:
feature_usage.head()

,usage_id,subscription_id,usage_date,feature_name,usage_count,usage_duration_secs,error_count,is_beta_feature
0,U-1c6c24,S-0fcf7d,2023-07-27,feature_20,9,5004,0,False
1,U-f07cb8,S-c25263,2023-08-07,feature_5,9,369,0,False
2,U-096807,S-f29e7f,2023-12-07,feature_3,9,1458,0,False
3,U-6b1580,S-be655e,2024-07-28,feature_40,5,2085,0,False
4,U-720a29,S-f9b1d0,2024-12-02,feature_12,12,900,0,False

In [43]:
support_tickets.head()

,ticket_id,account_id,submitted_at,closed_at,resolution_time_hours,priority,first_response_time_minutes,satisfaction_score,escalation_flag
0,T-0024de,A-712f1c,2023-07-27,2023-07-28 03:00:00,27.0,high,74,NaN,False
1,T-4d04b9,A-e43bf7,2024-07-08,2024-07-09 03:00:00,27.0,urgent,144,NaN,False
2,T-d5e12f,A-0f3e88,2024-10-17,2024-10-17 19:00:00,19.0,urgent,93,4.0,False
3,T-dfce9a,A-4c56c9,2024-09-08,2024-09-09 23:00:00,47.0,medium,126,5.0,False
4,T-c59f77,A-6f8ad2,2024-11-30,2024-12-01 02:00:00,26.0,medium,8,NaN,False

In [44]:
churn_events.head()

,churn_event_id,account_id,churn_date,reason_code,refund_amount_usd,preceding_upgrade_flag,preceding_downgrade_flag,is_reactivation,feedback_text
0,C-816288,A-c37cab,2024-10-27,pricing,4.03,False,False,False,switched to competitor
1,C-5a81e7,A-37f969,2024-06-25,support,96.45,True,False,False,NaN
2,C-a174be,A-b07346,2024-11-12,budget,0.00,False,False,False,missing features
3,C-accb39,A-1e50e0,2023-11-01,budget,54.94,False,False,False,switched to competitor
4,C-92f889,A-956988,2024-12-30,unknown,0.00,False,True,True,too expensive

In [45]:
total_data_points = (
    accounts.size + 
    subscriptions.size + 
    feature_usage.size + 
    support_tickets.size + 
    churn_events.size
)

print(f" Total data points: {total_data_points:,}")
print(f" Total customers: {len(accounts):,}")
print(f" Total subscriptions: {len(subscriptions):,}")
print(f" Total usage records: {len(feature_usage):,}")
print(f" Total support requests: {len(support_tickets):,}")
print(f" Total churn events: {len(churn_events):,}")

 Total data points: 298,400
 Total customers: 500
 Total subscriptions: 5,000
 Total usage records: 25,000
 Total support requests: 2,000
 Total churn events: 600

In [46]:
null_counts = accounts.isnull().sum()

In [47]:
null_counts

account_id         0
account_name       0
industry           0
country            0
signup_date        0
referral_source    0
plan_tier          0
seats              0
is_trial           0
churn_flag         0
dtype: int64

In [48]:
if null_counts.sum() == 0:
    print("No NULL values in the Accounts table!")
else:
    print("WARNING! Some columns have NULL values.")
    print("")
    print("Columns with NULL values:")
    null_columns = null_counts[null_counts > 0]
    for col, count in null_columns.items():
        percentage = (count / len(accounts)) * 100
        print(f"  • {col}: {count} NULL ({percentage:.1f}%)")

No NULL values in the Accounts table!

In [49]:
accounts.dtypes

account_id         object
account_name       object
industry           object
country            object
signup_date        object
referral_source    object
plan_tier          object
seats               int64
is_trial             bool
churn_flag           bool
dtype: object

In [50]:
accounts.describe()

            seats
count  500.000000
mean    20.560000
std     21.044718
min      1.000000
25%      5.000000
50%     15.000000
75%     28.000000
max    163.000000

In [51]:
kategorik_sutunlar = ['industry', 'country', 'referral_source', 'plan_tier']
for sutun in kategorik_sutunlar:
    print(f" {sutun.upper()}:")
    
    counts = accounts[sutun].value_counts()
    
    print(counts.head(5))  
    print(f"   Total {accounts[sutun].nunique()} different values exist.")

 INDUSTRY:
industry
DevTools         113
FinTech          112
Cybersecurity    100
HealthTech        96
EdTech            79
Name: count, dtype: int64
   Total 5 different values exist.
 COUNTRY:
country
US    291
UK     58
IN     49
AU     32
DE     25
Name: count, dtype: int64
   Total 7 different values exist.
 REFERRAL_SOURCE:
referral_source
organic    114
other      103
ads         98
event       96
partner     89
Name: count, dtype: int64
   Total 5 different values exist.
 PLAN_TIER:
plan_tier
Pro           178
Basic         168
Enterprise    154
Name: count, dtype: int64
   Total 3 different values exist.

In [52]:
churn_counts = accounts['churn_flag'].value_counts()
print("Churn status:")
print(churn_counts)
print("")
total = len(accounts)
churned = churn_counts.get(True, 0)
retained = churn_counts.get(False, 0)
churn_rate = (churned / total) * 100
retention_rate = (retained / total) * 100
print(f"  CHURN RATE: {churn_rate:.1f}%")
print(f"   • Churned (Left): {churned} customers")
print(f"   • Retained (Stayed): {retained} customers")
print("")
if churn_rate > 20:
    print("WARNING! Churn rate is very high! (SaaS average: 5-7%)")
elif churn_rate > 10:
    print("CAUTION! Churn rate is high.")
else:
    print("GOOD! Churn rate is at industry average.")

Churn status:
churn_flag
False    390
True     110
Name: count, dtype: int64

  CHURN RATE: 22.0%
   • Churned (Left): 110 customers
   • Retained (Stayed): 390 customers

WARNING! Churn rate is very high! (SaaS average: 5-7%)

In [53]:
accounts['signup_date'] = pd.to_datetime(accounts['signup_date'])
print("Date converted to datetime!")
print(f"New type: {accounts['signup_date'].dtype}")

Date converted to datetime!
New type: datetime64[ns]

In [54]:
gun_farki = (accounts['signup_date'].max() - accounts['signup_date'].min()).days
print(f"  Total duration: {gun_farki} days (~{gun_farki/365:.1f} years)")

  Total duration: 729 days (~2.0 years)

In [55]:
print("FINDINGS:")
print("")
print("1. COLUMNS:")
print(f"    {len(accounts.columns)} columns exist, all meaningful")
print("2. MISSING VALUES:")
if accounts.isnull().sum().sum() == 0:
    print("    No NULL in Accounts table - excellent!")
else:
    print(f"    {accounts.isnull().sum().sum()} NULL values exist")
print("3. DATA TYPES:")
print("    Date converted to datetime")
print("4. CHURN:")
print(f"     Churn rate: {churn_rate:.1f}% (very high!)")
print("5. DATA RANGE:")
print(f"    {gun_farki} days of data (~2 years)")

FINDINGS:

1. COLUMNS:
    10 columns exist, all meaningful
2. MISSING VALUES:
    No NULL in Accounts table - excellent!
3. DATA TYPES:
    Date converted to datetime
4. CHURN:
     Churn rate: 22.0% (very high!)
5. DATA RANGE:
    729 days of data (~2 years)

In [56]:
def safe_count(df, id_column, description="record"):
    total = len(df)
    unique = df[id_column].nunique()
    if total == unique:
        print(f"  {description.upper()}: {unique:,}")
        print(f"   No duplicates, safe!")
    else:
        duplicate_count = total - unique
        print(f"   {description.upper()}: {unique:,} unique (total: {total:,})")
        print(f"   {duplicate_count:,} duplicates detected!")
        print(f"    Unique count used")
        
    return unique

In [57]:
total_customers = safe_count(accounts, 'account_id', 'müşteri')
total_subscriptions = safe_count(subscriptions, 'subscription_id', 'abonelik')
total_usage_records = safe_count(feature_usage, 'usage_id', 'kullanım kaydı')
total_tickets = safe_count(support_tickets, 'ticket_id', 'destek talebi')
total_churn_events = safe_count(churn_events, 'churn_event_id', 'kayıp olayı')

  MÜŞTERI: 500
   No duplicates, safe!
  ABONELIK: 5,000
   No duplicates, safe!
   KULLANIM KAYDI: 24,979 unique (total: 25,000)
   21 duplicates detected!
    Unique count used
  DESTEK TALEBI: 2,000
   No duplicates, safe!
  KAYIP OLAYI: 600
   No duplicates, safe!

In [58]:
unique_accounts_in_subs = subscriptions['account_id'].nunique()
avg_subs_per_customer = total_subscriptions / unique_accounts_in_subs
print(f"1. SUBSCRIPTIONS PER CUSTOMER:")
print(f"   {total_subscriptions:,} subscriptions / {unique_accounts_in_subs:,} customers")
print(f"   Average: {avg_subs_per_customer:.1f} subscriptions/customer")
print(f"   Customers are changing their plans!")

1. SUBSCRIPTIONS PER CUSTOMER:
   5,000 subscriptions / 500 customers
   Average: 10.0 subscriptions/customer
   Customers are changing their plans!

In [59]:
unique_accounts_in_tickets = support_tickets['account_id'].nunique()
avg_tickets_per_customer = total_tickets / unique_accounts_in_tickets
print(f"2. SUPPORT REQUESTS PER CUSTOMER:")
print(f"   {total_tickets:,} tickets / {unique_accounts_in_tickets:,} customers")
print(f"   Average: {avg_tickets_per_customer:.1f} tickets/customer")
if avg_tickets_per_customer > 5:
    print(f"    HIGH! Customers are requesting too much support")
elif avg_tickets_per_customer > 2:
    print(f"   MEDIUM: Normal level")
else:
    print(f"    GOOD: Customers are managing on their own")

2. SUPPORT REQUESTS PER CUSTOMER:
   2,000 tickets / 492 customers
   Average: 4.1 tickets/customer
   MEDIUM: Normal level

In [60]:
unique_subs_in_usage = feature_usage['subscription_id'].nunique()
avg_usage_per_sub = total_usage_records / unique_subs_in_usage
print(f"3. USAGE RECORDS PER SUBSCRIPTION:")
print(f"    {total_usage_records:,} usage / {unique_subs_in_usage:,} subscriptions")
print(f"    Average: {avg_usage_per_sub:.1f} records/subscription")

3. USAGE RECORDS PER SUBSCRIPTION:
    24,979 usage / 4,967 subscriptions
    Average: 5.0 records/subscription

In [61]:
unique_accounts_in_churn = churn_events['account_id'].nunique()
avg_churn_per_account = total_churn_events / unique_accounts_in_churn
print(f"4. CHURN EVENTS PER CHURNED CUSTOMER:")
print(f"    {total_churn_events:,} churn events / {unique_accounts_in_churn:,} customers")
print(f"    Average: {avg_churn_per_account:.1f} events/customer")
if avg_churn_per_account > 1:
    reactivation_count = total_churn_events - unique_accounts_in_churn
    print(f"    ATTENTION: Some customers left and came back!")
    print(f"    {reactivation_count} reactivation events exist")
else:
    print(f"    Each customer churned only once")

4. CHURN EVENTS PER CHURNED CUSTOMER:
    600 churn events / 352 customers
    Average: 1.7 events/customer
    ATTENTION: Some customers left and came back!
    248 reactivation events exist

In [62]:
print(f"total_customers       = {total_customers}")
print(f"total_subscriptions   = {total_subscriptions}")
print(f"total_usage_records   = {total_usage_records}")
print(f"total_tickets         = {total_tickets}")
print(f"total_churn_events    = {total_churn_events}")

print("-"*20)

churned_customers = accounts['churn_flag'].sum()
retained_customers = total_customers - churned_customers
churn_rate = (churned_customers / total_customers) * 100

print(f"churned_customers     = {churned_customers}")
print(f"retained_customers    = {retained_customers}")
print(f"churn_rate            = {churn_rate:.1f}%")

total_customers       = 500
total_subscriptions   = 5000
total_usage_records   = 24979
total_tickets         = 2000
total_churn_events    = 600
--------------------
churned_customers     = 110
retained_customers    = 390
churn_rate            = 22.0%

In [63]:
unique_accounts_in_churn = churn_events['account_id'].nunique()
avg_churn_per_account = total_churn_events / unique_accounts_in_churn
print(f"4. CHURN EVENTS PER CHURNED CUSTOMER:")
print(f"    {total_churn_events:,} churn events / {unique_accounts_in_churn:,} customers")
print(f"    Average: {avg_churn_per_account:.1f} events/customer")
if avg_churn_per_account > 1:
    reactivation_count = total_churn_events - unique_accounts_in_churn
    print(f"    ATTENTION: Some customers left and came back!")
    print(f"    {reactivation_count} reactivation events exist")
else:
    print(f"    Each customer has churned only once")

4. CHURN EVENTS PER CHURNED CUSTOMER:
    600 churn events / 352 customers
    Average: 1.7 events/customer
    ATTENTION: Some customers left and came back!
    248 reactivation events exist

In [64]:
print("METRIC 1: ARPU")
print("-"*20)
active_subs = subscriptions[subscriptions["churn_flag"] == False]
print(f"Total subscriptions: {len(subscriptions):,}")
print(f"Active subscriptions: {len(active_subs):,}")
print(f"Churned subscriptions: {len(subscriptions) - len(active_subs):,}")
print("-"*20)
account_mrr = active_subs.groupby("account_id")["mrr_amount"].sum()
arpu = account_mrr.mean()
print(f"Active customer count: {len(account_mrr):,}")
print(f"Total MRR: ${account_mrr.sum():,.2f}")
print(f"ARPU: ${arpu:,.2f}/month")

METRIC 1: ARPU
--------------------
Total subscriptions: 5,000
Active subscriptions: 4,514
Churned subscriptions: 486
--------------------
Active customer count: 500
Total MRR: $10,159,608.00
ARPU: $20,319.22/month

In [65]:
print("ARPU DISTRIBUTION:")
print(f"  Min MRR: ${account_mrr.min():,.2f}")
print(f"  25th percentile: ${account_mrr.quantile(0.25):,.2f}")
print(f"  Median (50th): ${account_mrr.median():,.2f}")
print(f"  75th percentile: ${account_mrr.quantile(0.75):,.2f}")
print(f"  Max MRR: ${account_mrr.max():,.2f}")
print("-"*20)
if arpu > 2000:
    print("HIGH: Enterprise-focused, large customers")
elif arpu > 1000:
    print("MEDIUM-HIGH: Mid-market customers")
elif arpu > 500:
    print("MEDIUM: SMB (Small-medium business) customers")
else:
    print("LOW: Very small customers, pricing problem may exist")

ARPU DISTRIBUTION:
  Min MRR: $171.00
  25th percentile: $10,398.25
  Median (50th): $16,654.00
  75th percentile: $26,195.75
  Max MRR: $131,911.00
--------------------
HIGH: Enterprise-focused, large customers

In [66]:
print("METRIC 2: CHURN RATE BY INDUSTRY")
print("-"*20)
industry_churn = accounts.groupby('industry').agg({
    'account_id': 'count',  # Total customers
    'churn_flag': 'sum'      # Churned customers (True = 1)
}).round(2)
industry_churn.columns = ['Total_Customers', 'Churned_Customers']
industry_churn['Churn_Rate_%'] = (
    industry_churn['Churned_Customers'] / 
    industry_churn['Total_Customers'] * 100
).round(1)
industry_churn['Retained_Customers'] = (
    industry_churn['Total_Customers'] - 
    industry_churn['Churned_Customers']
)
industry_churn = industry_churn.sort_values('Churn_Rate_%', ascending=False)
industry_churn.reset_index()

METRIC 2: CHURN RATE BY INDUSTRY
--------------------

,industry,Total_Customers,Churned_Customers,Churn_Rate_%,Retained_Customers
0,DevTools,113,35,31.0,78
1,FinTech,112,25,22.3,87
2,HealthTech,96,21,21.9,75
3,EdTech,79,13,16.5,66
4,Cybersecurity,100,16,16.0,84

In [67]:
highest_churn = industry_churn.index[0]
lowest_churn = industry_churn.index[-1]
print(f"Highest Churn: {highest_churn} ({industry_churn.loc[highest_churn, 'Churn_Rate_%']:.1f}%)")
print(f"Lowest Churn: {lowest_churn} ({industry_churn.loc[lowest_churn, 'Churn_Rate_%']:.1f}%)")
churn_difference = (
    industry_churn.loc[highest_churn, 'Churn_Rate_%'] - industry_churn.loc[lowest_churn, 'Churn_Rate_%']
)
print(f"Difference: {churn_difference:.1f}%")

Highest Churn: DevTools (31.0%)
Lowest Churn: Cybersecurity (16.0%)
Difference: 15.0%

In [68]:
if churn_difference > 15:
    print("BIG DIFFERENCE! Sector-based strategy needed")
elif churn_difference > 5:
    print("MEDIUM DIFFERENCE: Should be monitored")
else:
    print("SMALL DIFFERENCE: All sectors behaving similarly")

MEDIUM DIFFERENCE: Should be monitored

In [69]:
print("METRIC 3: CHURN RATE BY PLAN TIER")
plan_churn = accounts.groupby('plan_tier').agg({
    'account_id': 'count',
    'churn_flag': 'sum'
}).round(2)
plan_churn.columns = ['Total_Customers', 'Churned_Customers']
plan_churn['Churn_Rate_%'] = (
    plan_churn['Churned_Customers'] / 
    plan_churn['Total_Customers'] * 100
).round(1)
plan_churn['Retained_Customers'] = (
    plan_churn['Total_Customers'] - 
    plan_churn['Churned_Customers']
)
plan_order = ['Basic', 'Pro', 'Enterprise']
plan_churn = plan_churn.reindex(plan_order)
plan_churn.reset_index()

METRIC 3: CHURN RATE BY PLAN TIER

,plan_tier,Total_Customers,Churned_Customers,Churn_Rate_%,Retained_Customers
0,Basic,168,37,22.0,131
1,Pro,178,39,21.9,139
2,Enterprise,154,34,22.1,120

In [70]:
plan_arpu = active_subs.groupby('plan_tier')['mrr_amount'].mean()
plan_arpu = plan_arpu.reindex(plan_order)

In [71]:
print("AVERAGE MRR BY PLAN TIER:")
print("-"*20)
for plan in plan_order:
    if plan in plan_arpu.index:
        print(f"{plan:12}: ${plan_arpu[plan]:8,.2f}/month")
print("-"*20)
for plan in plan_order:
    if plan in plan_churn.index:
        churn = plan_churn.loc[plan, 'Churn_Rate_%']
        total = plan_churn.loc[plan, 'Total_Customers']
        
        if churn > 25:
            status = "HIGH"
        elif churn > 15:
            status = "MEDIUM"
        else:
            status = "LOW"
        
        print(f"{plan:12}: {status} - {churn:.1f}% churn ({total} customers)")

AVERAGE MRR BY PLAN TIER:
--------------------
Basic       : $  474.42/month
Pro         : $1,272.19/month
Enterprise  : $4,865.81/month
--------------------
Basic       : MEDIUM - 22.0% churn (168 customers)
Pro         : MEDIUM - 21.9% churn (178 customers)
Enterprise  : MEDIUM - 22.1% churn (154 customers)

In [72]:
print("METRIC 4: REVENUE AT RISK")
print("-"*20)
churned_subs = subscriptions[subscriptions['churn_flag'] == True]
lost_mrr_monthly = churned_subs['mrr_amount'].sum()
lost_mrr_annual = lost_mrr_monthly * 12
print(f"Churned subscription count: {len(churned_subs):,}")
print(f"Lost MRR (monthly): ${lost_mrr_monthly:,.2f}")
print(f"  Lost ARR (annual): ${lost_mrr_annual:,.2f}")

METRIC 4: REVENUE AT RISK
--------------------
Churned subscription count: 486
Lost MRR (monthly): $1,179,139.00
  Lost ARR (annual): $14,149,668.00

In [73]:
total_active_mrr = active_subs['mrr_amount'].sum()
loss_percentage = (lost_mrr_monthly / (total_active_mrr + lost_mrr_monthly)) * 100
print(f"Current active MRR: ${total_active_mrr:,.2f}")
print(f"Lost MRR rate: {loss_percentage:.1f}%")
print("Target (If Churn drops to 11%):") # Goal is to halve the Churn Rate, can be changed according to percentage strategy.
target_churned = 55
current_churned = 110
saved_customers = current_churned - target_churned
avg_mrr_per_churned = lost_mrr_monthly / len(churned_subs.groupby('account_id'))
saved_mrr_monthly = saved_customers * avg_mrr_per_churned
saved_mrr_annual = saved_mrr_monthly * 12
print(f"Customers to be saved: {saved_customers}")
print(f"MRR to be saved (monthly): ${saved_mrr_monthly:,.2f}")
print(f"ARR to be saved (annual): ${saved_mrr_annual:,.2f}")

Current active MRR: $10,159,608.00
Lost MRR rate: 10.4%
Target (If Churn drops to 11%):
Customers to be saved: 55
MRR to be saved (monthly): $207,861.04
ARR to be saved (annual): $2,494,332.50